* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-size: 19px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #454545;
}

.app {
	max-width: 500px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.question-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.category-selector {
	max-width: 60%;
}

.category-selector select {
	font-size: 16px;
	width: 100%;
}

.category-selector p {
	margin: 0;
	font-size: 16px;
}

.scoreboard {
	display: flex;
	align-items: center;
	text-align: right;
	font-size: 16px;
	line-height: 1;
}

.scoreboard > div:first-child {
	margin-right: 25px;
}

.scoreboard .wrong {
	color: rgb(211, 79, 79);
}

.scoreboard .correct {
	color: rgb(63, 162, 63);
}

.scoreboard strong {
	color: #555;
	font-size: 40px;
	display: block;
	margin-bottom: 3px;
}

.question-main {
	background: #fff;
	border-radius: 10px;
	padding: 2.5rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	min-width: 500px;
	max-width: 90%;
	min-height: 350px;
	display: flex;
	align-items: center;
}

.question {
	width: 100%;
}

.question h2 {
	margin-top: 0;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

button {
	display: block;
	width: 100%;
	margin-bottom: 8px;
	font-size: 16px;
	cursor: pointer;
	color: #195e5b;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 0.8rem;
	border-width: 1px;
	border-radius: 0.25rem;
	border-color: #38a89d;
	background-color: #4dc0b5;
	transition: 0.2s ease all;
	line-height: 1;
}

button:hover {
	background-color: #a0f0ed;
	box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.1);
}
